<nav class="navbar navbar-expand-lg navbar-ligth bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Gestión de Citas</a>

    <!-- Botón para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCitas" aria-controls="navbarCitas" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" id="navbarCitas">
      <ul class="navbar-nav ms-auto flex-row flex-lg-row flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-citas">Ver Citas</a>
        </li>
        <li class="nav-item ms-lg-3">
          <a class="nav-link" routerLink="/agendar-cita">Agendar Cita</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
