<h2 class="mt-3 fw-bold">{{ esModal ? 'Editar Cita' : 'Agendar Nueva Cita' }}</h2>
<form [formGroup]="form" (ngSubmit)="esModal ? actualizar() : agendar()" class="container mt-3">
  <div class="mb-3">
    <label>Nombre:</label>
    <input type="text" class="form-control" formControlName="nombre" />
    <div class="text-danger" *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched">Nombre requerido</div>
  </div>

  <div class="mb-3">
    <label>Correo:</label>
    <input type="email" class="form-control" formControlName="correo" />
    <div class="text-danger" *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched">Correo inválido</div>
  </div>

  <div class="mb-3">
    <label>Fecha:</label>
    <input type="date" class="form-control" formControlName="fecha" />
    <div class="text-danger" *ngIf="form.get('fecha')?.invalid && form.get('fecha')?.touched">Fecha requerida</div>
  </div>

  <div class="mb-3">
    <label>Hora:</label>
    <input type="time" class="form-control" formControlName="hora" />
    <div class="text-danger" *ngIf="form.get('hora')?.invalid && form.get('hora')?.touched">Hora requerida</div>
  </div>

  <div class="mb-3">
    <label>Descripción:</label>
    <textarea class="form-control" formControlName="descripcion"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary fw-bold" [disabled]="form.invalid">
    {{ esModal ? 'Guardar Cambios' : 'Guardar Cita' }}
  </button>
</form>