h2 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background: linear-gradient(to right, #fbc4ab, #d8b4f8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  p {
    font-size: 1.1rem;
    margin-bottom: 10px;

    strong {
      color: #333;
    }
  }

  button {
    background-color: #6c757d;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;

    &:hover {
      background-color: #5a6268;
    }
  }
}